{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="text-danger">CLIENT ERROR</h1>
        <hr>
        <h2>404 NOT FOUND</h2>
        <p class="lead">The origin server did not find a current representation for the target
            resource or is not willing to disclose that one exists.</p>
        <div class="float-right">
            <a href="https://httpstatuses.com/404" class="btn btn-info" target="_blank">Learn More >></a>
        </div>
    </div>
</div>
{% endblock body %}